//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug
//- This is how we insert dynamic content to extended templates
block content
   
    h1.title Welcome to Kotse Mo to!
    hr

    ul
        //- This is how we iterate through arrays and access
        //- their element
    //- each user in users
    //-          li= `${user.id} - ${user.make} - ${user.model} - ${user.year} - ${user.plate_number} - ${user.vcondition}`
         
    a(class='button', href='/view') VIEW 
    br
    br
    a(class='button', href='/users/new') ADD
    br
    br
    a(class='button', href='/delete') DELETE
    br
    br
    //- a(class='button', href='/update') UPDATE
